body {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 1.1em;
  font-family: 'Russo One', sans-serif;
  color: white;
  
}
.navbar{
  width:100%;
}
.menunav{
  background: linear-gradient(rgb(170,170,170), rgb(255,255,255));
 
}

.iJustCont{
 position: relative;
 width: 100%;
 padding-bottom: 5%;
}
.maincont{
 width: 100%;
 
 position: relative;
 margin: 0, auto;
 min-width: 280px;
}
.square {
  height: 10%;
  width: 11%;
  min-height: 24px;
  min-width: 18px;
  background-color: blue;
  opacity: .5;
  font-size: .6em;
 
 
}
.abt {
  float: right;
}
header {
  background-color:aqua;
  color: white;
  text-shadow: 2px 2px tan,
               -2px -2px tan;
  line-height: 3px;
}

