body {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 1.5em;
  font-family: sans-serif;

  
}

.menunav{
  background: linear-gradient(rgb(170,170,170), rgb(255,255,255));
 
}

.submain{
  
  margin-top: 300px;
  background-color: tan;
  
}
.square {
  height: 10%;
  width: 5%;
  max-height: 55px;
  max-width: 75px;
  min-height: 25px;
  min-width: 25px;
  background-color: blue;
  opacity: .7;
  font-size: .6em;
 
 
}
.abt {
  float: right;
}
header {
  background-color:aqua;
  color: white;
  text-shadow: 2px 2px tan,
               -2px -2px tan;
  line-height: 3px;
}

